extends ../../layouts/default.pug 


block main 
    
    .main
      // Slider
      .main__slice
        .slider
          .slide.active(style='background-image:url(./assets/img/slider/slide-6.jpg)')
            .container
              .caption
                h1 Gi&#x1EA3;m gi&aacute; 30%
                p Gi&#x1EA3;m gi&aacute; c&#x1EF1;c s&#x1ED1;c trong th&aacute;ng 6!
                a.btn.btn--default(href='listProduct.html') Xem ngay
          .slide.active(style='background-image:url(./assets/img/slider/slide-4.jpg)')
            .container
              .caption
                h1 Gi&#x1EA3;m gi&aacute; 30%
                p Gi&#x1EA3;m gi&aacute; c&#x1EF1;c s&#x1ED1;c trong th&aacute;ng 6!
                a.btn.btn--default(href='listProduct.html') Xem ngay
          .slide.active(style='background-image:url(./assets/img/slider/slide-5.jpg)')
            .container
              .caption
                h1 Gi&#x1EA3;m gi&aacute; 30%
                p Gi&#x1EA3;m gi&aacute; c&#x1EF1;c s&#x1ED1;c trong th&aacute;ng 6!
                a.btn.btn--default(href='listProduct.html') Xem ngay
        // controls
        .controls
          .prev
            i.fas.fa-chevron-left
          .next
            i.fas.fa-chevron-right
        // indicators
        .indicator
      // Product Category
      .main__tabnine
        .grid.wide
          // Tab items
          .tabs
            .tab-item.active
              | B&aacute;n Ch&#x1EA1;y
            .tab-item
              | Gi&aacute; t&#x1ED1;t
            .tab-item
              | M&#x1EDB;i Nh&#x1EAD;p
            .line
          // Tab content
          .tab-content
            .tab-pane.active
              .row
                .col.l-2.m-4.s-6
                  .product
                    .product__avt(style='background-image: url(./assets/img/product/product1.jpg);')
                    .product__info
                      h3.product__name Kem d&#x1B0;&#x1EE1;ng da NestPlae
                      .product__price
                        .price__old
                          | 300.000 &dstrok;
                        .price__new
                          | 200.000 
                          span.price__unit &dstrok;
                      .product__sale
                        span.product__sale-percent 24%%
                        span.product__sale-text Gi&#x1EA3;m
                    a.viewDetail(href='product.html') Xem chi ti&#x1EBF;t
                    a.addToCart(href='cart.html') Th&ecirc;m v&agrave;o gi&#x1ECF;
                each item in products 
                  .col.l-2.m-4.s-6
                    .product
                      .product__avt(style='background-image: url(./assets/img/product/product5.jpg);')
                      .product__info
                        h3.product__name #{item.title}
                        .product__price
                          .price__old
                            | #{item.oldPrice}
                          .price__new
                            | #{item.newPrice}
                            span.price__unit &dstrok;
                        .product__sale
                          span.product__sale-percent 24%%
                          span.product__sale-text Gi&#x1EA3;m
                      a.viewDetail(href='product.html') Xem chi ti&#x1EBF;t
                      a.addToCart(href='cart.html') Th&ecirc;m v&agrave;o gi&#x1ECF;
                
      // HightLight
      .main__frame
        .grid.wide
          h3.category__title Ng&#x1ECD;c &Aacute;nh Cometics
          h3.category__heading S&#x1EA2;N PH&#x1EA8;M N&#x1ED4;I B&#x1EAC;T
          .owl-carousel.hight.owl-theme
            each item in hightlightedProducts
              .product
                .product__avt(style='background-image: url(./assets/img/product/product1.jpg);')
                .product__info
                  h3.product__name #{item.title}
                  .product__price
                    .price__old
                      | 100.000 &dstrok;
                    .price__new
                      | 70.000
                      span.price__unit &dstrok;
                  .product__sale
                    span.product__sale-percent 23
                    span.product__sale-text Gi&#x1EA3;m
                a.viewDetail(href='product.html') Xem chi ti&#x1EBF;t
                a.addToCart(href='cart.html') Th&ecirc;m v&agrave;o gi&#x1ECF;
            
      // Sales Policy
      .main__policy
        .row
          .col.l-3.m-6
            .policy.bg-1
              img.policy__img(src='./assets/img/policy/policy1.png')
              .policy__info
                h3.policy__title GIAO H&Agrave;NG MI&#x1EC4;N PH&Iacute;
                p.policy__description Cho &dstrok;&#x1A1;n h&agrave;ng t&#x1EEB; 300K
          .col.l-3.m-6
            .policy.bg-2
              img.policy__img(src='./assets/img/policy/policy2.png')
              .policy__info
                h3.policy__title &Dstrok;&#x1ED4;I TR&#x1EA2; H&Agrave;NG
                p.policy__description Trong 3 ng&agrave;y &dstrok;&#x1EA7;u ti&ecirc;n
          .col.l-3.m-6
            .policy.bg-1
              img.policy__img(src='./assets/img/policy/policy3.png')
              .policy__info
                h3.policy__title H&Agrave;NG CH&Iacute;NH H&Atilde;NG
                p.policy__description Cam k&#x1EBF;t ch&#x1EA5;t l&#x1B0;&#x1EE3;ng
          .col.l-3.m-6
            .policy.bg-2
              img.policy__img(src='./assets/img/policy/policy4.png')
              .policy__info
                h3.policy__title T&#x1AF; V&#x1EA4;N 24/24
                p.policy__description Gi&#x1EA3;i &dstrok;&aacute;p m&#x1ECD;i th&#x1EAF;c m&#x1EAF;c
      // News
      .main__frame.bg-3
        .grid.wide
          h3.category__title Ng&#x1ECD;c &Aacute;nh Cometics
          h3.category__heading Tin T&#x1EE9;c
          .owl-carousel.news.owl-theme
            a.news(href='news.html')
              .news__img
                img(src='./assets/img/news/news1.jpg', alt='')
              .news__body
                h3.news__body-title Trang &dstrok;i&#x1EC3;m &dstrok;&uacute;ng c&aacute;ch
                .new__body-date 13/6/2021
                p.news__description
                  | Lorem ipsum dolor sit amet consectetur adipisicing elit. In sit molestiae aperiam modi cum deserunt, maxime blanditiis voluptate officiis accusantium minima pariatur harum tenetur quo iste iusto commodi. Modi, culpa?
            a.news(href='news.html')
              .news__img
                img(src='./assets/img/news/news1.jpg', alt='')
              .news__body
                h3.news__body-title Trang &dstrok;i&#x1EC3;m &dstrok;&uacute;ng c&aacute;ch
                .new__body-date 13/6/2021
                p.news__description
                  | Lorem ipsum dolor sit amet consectetur adipisicing elit. In sit molestiae aperiam modi cum deserunt, maxime blanditiis voluptate officiis accusantium minima pariatur harum tenetur quo iste iusto commodi. Modi, culpa?
            a.news(href='news.html')
              .news__img
                img(src='./assets/img/news/news1.jpg', alt='')
              .news__body
                h3.news__body-title Trang &dstrok;i&#x1EC3;m &dstrok;&uacute;ng c&aacute;ch
                .new__body-date 13/6/2021
                p.news__description
                  | Lorem ipsum dolor sit amet consectetur adipisicing elit. In sit molestiae aperiam modi cum deserunt, maxime blanditiis voluptate officiis accusantium minima pariatur harum tenetur quo iste iusto commodi. Modi, culpa?
      .main__bands
        .grid.wide
          .owl-carousel.bands
            a.band__item(href='listProduct.html', style='background-image: url(./assets/img/band/band1.png)')
            a.band__item(href='listProduct.html', style='background-image: url(./assets/img/band/band2.png)')
            a.band__item(href='listProduct.html', style='background-image: url(./assets/img/band/band3.png)')
            a.band__item(href='listProduct.html', style='background-image: url(./assets/img/band/band4.png)')
            a.band__item(href='listProduct.html', style='background-image: url(./assets/img/band/band5.png)')
            a.band__item(href='listProduct.html', style='background-image: url(./assets/img/band/band6.png)')
            a.band__item(href='listProduct.html', style='background-image: url(./assets/img/band/band7.png)')
      
    script(src='./assets/js/homeScript.js')