doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/admin/css/styles.css")
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
        link(rel='icon', href='/admin/images/favicon.ico')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css')
        title #{pageTitle}
    body 
    .container-flex
      include ../partials/sider.pug 
      .main-content
        include ../partials/header.pug 
        - if (messages.success)
          .message.success
              .alert.alert-success(role='alert' time-out-alert)
                  | #{messages.success} 
        -if (messages.error)
          .message.error
              .alert.alert-danger(role='alert' time-out-alert) 
                  | #{messages.error}
        block main 
    form(action="/admin/auth/logout" method="post" form-logout) 
    script(src="/admin/js/script.js") 
    script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js')
    script(src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js')

    script(type='application/javascript', src='/tinymce/tinymce.min.js')
    
    // Script element sourcing the TinyMCE configuration
    script(type='application/javascript', src='/admin/js/my-tinymce-config.js')
    script(src="/socket.io/socket.io.js") 
    script(src="/admin/js/socket.js") 