extends ../../layouts/default.pug 

block main 
    .container.mt-5
      .row
        .col-md-6
          img.product-image(src="https://via.placeholder.com/600x500",style='width: 600px; height: 500px',alt='Product Image')
        .col-md-6
          h1.product-title #{data.product.title}
          p.product-description
          strong Danh Mục: 
          | #{data.product.categoryId.title}
          p.product-price #{data.product.newPrice}
          p.rating &#x2B50; 4.6 (2,100 &Dstrok;&aacute;nh Gi&aacute;)
          p.stock-info S&#x1ED1; l&#x1B0;&#x1EE3;ng t&#x1ED3;n kho: 100
          p.product-description
          | B&#x1EA3;o h&agrave;nh 15 ng&agrave;y. &Dstrok;&#x1ED5;i &yacute; mi&#x1EC5;n ph&iacute;. B&#x1EA3;o hi&#x1EC3;m r&#x1A1;i v&#x1EE1; . Mi&#x1EC5;n ph&iacute; v&#x1EAD;n chuy&#x1EC3;n.
          .input-group(style='marign-bottom: 5px')
            input(type='number',placeholder='Số lượng', min='1', max='10', value='1',)
          button.btn.btn-custom.btn-lg Mua Ngay
          button.btn.btn-outline-secondary.btn-lg.ml-2 Th&ecirc;m V&agrave;o Gi&#x1ECF; H&agrave;ng
      .row.mt-4
        .col-12
          h2 Mô Tả 
          p.product-description
            | #{data.product.description}
      .row.mt-4
        .col-12
          h2 Th&ocirc;ng Tin Chi Ti&#x1EBF;t
          ul.list-group
            li.list-group-item Ch&#x1EA5;t li&#x1EC7;u: Nylon b&#x1EC1;n b&#x1EC9;
            li.list-group-item C&#x1ED5;ng k&#x1EBF;t n&#x1ED1;i: Micro USB, Type C
            li.list-group-item Chi&#x1EC1;u d&agrave;i: 1.2m
            li.list-group-item Tr&#x1ECD;ng l&#x1B0;&#x1EE3;ng: 150g