mixin alertSuccess()
    - if (messages.success)
        #successAlert.show.alert.alert-success.alert-dismissible.alert-custom.d-flex.align-items-center(role='alert')
            i.fas.fa-check-circle.me-2
            span Success! #{messages.success}
            
mixin alertError()
    -if (messages.error)
      #errorAlert.show.alert.alert-danger.alert-dismissible.alert-custom.d-flex.align-items-center(role='alert')
        i.fas.fa-exclamation-circle.me-2
        span Error! #{messages.error}
        