mixin alertSuccess(messages)
    - if (messages.success)
        .message.message-success
            | #{messages.success} 
mixin alertError(messages)
    -if (messages.error)
        .message.message-error 
            | #{messages.error}