extends ../../layouts/auth.pug 

block main 
    .form-wrapper.register
        form(action='' method='POST')
          h2 Quên mật khẩu 
          .input-box
            span.icon
              ion-icon(name='person')
            input(type='email', placeholder='Điền email của bạn',name='email' required='')
          button(type='submit') Đăng ký 
          .sign-link
            p
              | Bạn đã có tài khoản 
              a(href='/users/login',) Đăng nhập 