doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css', rel='stylesheet', integrity='sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH', crossorigin='anonymous')
    title #{pageTitle}
  body 
  section.vh-100.gradient-custom
      .container.py-5.h-100
        .row.d-flex.justify-content-center.align-items-center.h-100
          .col-12.col-md-8.col-lg-6.col-xl-5
            .card.bg-dark.text-white(style='border-radius: 1rem;')
              form(method="POST").card-body.p-5.text-center
                -if (messages.error)
                .message.error 
                    .alert.alert-danger(role='alert' time-out-alert) 
                        | #{messages.error}
                
                .mb-md-5.mt-md-4.pb-5
                  h2.fw-bold.mb-2.text-uppercase Login
                  p.text-white-50.mb-5 Please enter your login and password!
                  .form-outline.form-white.mb-4(data-mdb-input-init='')
                    input#typeEmailX.form-control.form-control-lg(type='email' name='email')
                    label.form-label(for='typeEmailX') Email
                  .form-outline.form-white.mb-4(data-mdb-input-init='')
                    input#typePasswordX.form-control.form-control-lg(type='password' name='password')
                    label.form-label(for='typePasswordX') Password
                  p.small.mb-5.pb-lg-2
                    a.text-white-50(href='#!') Forgot password?
                  button.btn.btn-outline-light.btn-lg.px-5(data-mdb-button-init='', data-mdb-ripple-init='', type='submit') Login
                  .d-flex.justify-content-center.text-center.mt-4.pt-1
                    a.text-white(href='#!')
                      i.fab.fa-facebook-f.fa-lg
                    a.text-white(href='#!')
                      i.fab.fa-twitter.fa-lg.mx-4.px-2
                    a.text-white(href='#!')
                      i.fab.fa-google.fa-lg
                div
                  p.mb-0
                    | Don&apos;t have an account? 
                    a.text-white-50.fw-bold(href='#!') Sign Up
  script(src="/js/script.js") 