extends ../../layouts/default.pug 

block styles 
    link(rel="stylesheet", href="/css/profiles.css")
block main 
 .Kright
  .Kthongtintaikhoan
    .Kthongtintaikhoan-a
      h1.Ktttk-header Th&ocirc;ng tin t&agrave;i kho&#x1EA3;n
      .Ktttk-content
        .Ktttk-icon
          img#avatar-profile.Krounded-circle(src='https://via.placeholder.com/80' alt='Icon')
        .Ktttk-info
          .Kinfo-form
            label.Klabel(for='username') Tên tài khoản 
            input#username.Kinput-text(type='text' value=user.fullName)
            label.Klabel Gi&#x1EDB;i t&iacute;nh:
            .Klabel-gender(style='display: flex; color:black;align-items: center;')
              input#male(type='radio' name='gender' value='male' checked=(user.gender === 'nam'))
              label.Klabel(for='male') Nam
              input#female(type='radio' name='gender' value='female' checked=(user.gender === 'nữ'))
              label.Klabel(for='female') Nữ 
            label.Klabel(for='dob') Ng&agrave;y sinh:
            input#dob.Kinput-date(type='date' value=user.birthDate)
            div(style='margin-top: 15px; display: flex; align-items: center;')
              input#promotions.Kinput-checkbox(type='checkbox' style='margin-right: 10px;')
              label.Klabel(for='promotions' style='font-size: 18px; margin-bottom: 15px;') Nh&#x1EAD;n th&ocirc;ng tin khuy&#x1EBF;n m&atilde;i
            button.Kbtn-update(type='button' style='width: 100%; background-color: #078734; color: white; margin-top: 20px; border-radius: 20px;')
              | C&#x1EAD;p nh&#x1EAD;t
    .Ktttk-right
      h3 S&#x1ED1; &dstrok;i&#x1EC7;n tho&#x1EA1;i v&agrave; Email
      .Kemail-section
          label.Klabel(for='phone')
            i.fas.fa-phone(style='font-size: 20px; margin-right: 5px')
            | Số điện thoại 
          p  #{user.phone}
      .Kemail-section
        label.Klabel
          i.fas.fa-envelope(style='font-size: 20px; margin-right: 5px')
          |                 Email:
        p  #{user.email}
      .Ksecurity-section
        label.Klabel
          i.fas.fa-lock(style='font-size: 20px; margin-right: 5px;')
          | Đổi mật khẩu 
        button.Kbtn-update(type='button' style='width: 40%') &Dstrok;&#x1ED5;i m&#x1EAD;t kh&#x1EA9;u
      h4(style='margin-top: 60px') Li&ecirc;n k&#x1EBF;t m&#x1EA1;ng x&atilde; h&#x1ED9;i
      .Ksocial-section
        .Ksocial-item
          span
            i.fab.fa-facebook(style='font-size: 20px; margin-right: 5px')
            |                   Facebook
          button.Kbtn-link(type='button') Li&ecirc;n k&#x1EBF;t
        .Ksocial-item
          span
            i.fab.fa-google(style='font-size: 20px; margin-right: 5px; color: #db4437')
            |                   Google
          button.Kbtn-link(type='button') Li&ecirc;n k&#x1EBF;t
