extends ../../layouts/auth.pug 
include ../../mixins/show-alert.pug 
block main 
    .form-wrapper.register
        +alertSuccess(messages)
        +alertError(messages)
        form(action='' method='POST')
          h2 Nhập lại mật khẩu 
          .input-box
            span.icon
              ion-icon(name='person')
            input(type='password', placeholder='Điền mật khẩu của bạn',name='password' required='')
          .input-box
            span.icon
              ion-icon(name='person')
            input(type='password', placeholder='Nhập lại mật khẩu',name='repeatPassword' required='')
          button(type='submit') xác nhận 
          .sign-link
            p
              | Bạn đã có tài khoản 
              a(href='/users/login',) Đăng nhập 