mixin rangePrice() 
    .col-md-4.mb-3
      .form-group
        label Kho&#x1EA3;ng gi&aacute;
        .d-flex
          input#price-min.form-control.mr-2(type='number', placeholder='Giá từ')
          input#price-max.form-control(type='number', placeholder='Giá đến')