doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/common/styles.css")
    link(rel='icon' type='image/x-icon' href='https://hasaki.vn/favicon/favicon.ico')
    title Không tìm thấy 
  body 
  .about
      a.bg_links.social.portfolio(href='https://www.rafaelalucas.com', target='_blank')
        span.icon
      a.bg_links.social.dribbble(href='https://dribbble.com/rafaelalucas', target='_blank')
        span.icon
      a.bg_links.social.linkedin(href='https://www.linkedin.com/in/rafaelalucas/', target='_blank')
        span.icon
      a.bg_links.logo
  section.wrapper
    .container
      #scene.scene(data-hover-only='false')
        .circle(data-depth='1.2')
        .one(data-depth='0.9')
          .content
            span.piece
            span.piece
            span.piece
        .two(data-depth='0.60')
          .content
            span.piece
            span.piece
            span.piece
        .three(data-depth='0.40')
          .content
            span.piece
            span.piece
            span.piece
        p.p404(data-depth='0.50') 404
        p.p404(data-depth='0.10') 404
      .text
        article
          p
            | Ôi không! 
            strong #{message}
            br
            | Quay trở lại trang chủ 
          a(href="/")  Trang chủ 