footer.footer.spad
      .footer-container
        .row
          .col-lg-3.col-md-6.col-sm-6
            .footer__about
              .footer__about__logo
                a(href='./index.html')
                  img(src='img/logo.png', alt='')
              ul
                li Hotline: 1800 6324
                li (mi&#x1EC5;n ph&iacute; , 08-22h k&#x1EC3; c&#x1EA3; T7, CN)
                li Email: HASAKI@Gmail.com
          .col-lg-4.col-md-6.col-sm-6.offset-lg-1
            .footer__widget
              h6 V&#x1EC1; HASAKI.VN
              ul
                li
                  a(href='#') Gi&#x1EDB;i thi&#x1EC7;u Hasaki.vn
                li
                  a(href='#') Ch&iacute;nh s&aacute;ch b&#x1EA3;o m&#x1EAD;t
                li
                  a(href='#') &Dstrok;i&#x1EC1;u kho&#x1EA3;n s&#x1EED; d&#x1EE5;ng
                li
                  a(href='#') Li&ecirc;n h&#x1EC7;
                li
                  a(href='#') G&#x1EED;i y&ecirc;u c&#x1EA7;u h&#x1ED7; tr&#x1EE3;
              |  
              ul
                li
                  a(href='#') C&aacute;c c&acirc;u h&#x1ECF;i th&#x1B0;&#x1EDD;ng g&#x1EB7;p
                li
                  a(href='#') G&#x1EED;i y&ecirc;u c&#x1EA7;u h&#x1ED7; tr&#x1EE3;
                li
                  a(href='#') H&#x1B0;&#x1EDB;ng d&#x1EAB;n &dstrok;&#x1EB7;t h&agrave;ng
                li
                  a(href='#') Ph&#x1B0;&#x1A1;ng th&#x1EE9;c v&#x1EAD;n chuy&#x1EC3;n
                li
                  a(href='#') Ch&iacute;nh s&aacute;ch &dstrok;&#x1ED5;i tr&#x1EA3;
          .col-lg-4.col-md-12
            .footer__widget
              h6 Tham gia b&#x1EA3;n tin c&#x1EE7;a ch&uacute;ng t&ocirc;i ngay
              p
                | Nh&#x1EAD;n th&ocirc;ng b&aacute;o qua E-mail v&#x1EC1; c&aacute;c s&#x1EA3;n ph&#x1EA9;m m&#x1EDB;i nh&#x1EA5;t v&agrave; c&aacute;c &#x1B0;u &dstrok;&atilde;i &dstrok;&#x1EB7;c bi&#x1EC7;t c&#x1EE7;a ch&uacute;ng t&ocirc;i.
              form(action='#')
                input(type='text', placeholder='Nhập địa chỉ email của bạn')
                button.site-btn(type='submit') &Dstrok;&abreve;ng k&yacute;
              .footer__widget__social
                a(href='#')
                  i.fa-brands.fa-facebook
                a(href='#')
                  i.fa-brands.fa-tiktok
                a(href='#')
                  i.fa-brands.fa-twitter
                a(href='#')
                  i.fa-brands.fa-instagram
        .row
          .col-lg-12
            .footer__copyright
              .footer__copyright__text
                p
                  // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
                  | Copyright &copy;
                  script.
                    document.write(new Date().getFullYear());
                  |  T&#x1EA5;t c&#x1EA3; c&aacute;c quy&#x1EC1;n &dstrok;&#x1B0;&#x1EE3;c b&#x1EA3;o l&#x1B0;u | M&#x1EAB;u n&agrave;y &dstrok;&#x1B0;&#x1EE3;c t&#x1EA1;o ra 
                  i.fa.fa-heart(aria-hidden='true')
                  |  b&#x1EDF;i 
                  a(href='https://colorlib.com', target='_blank') HASAKI
                .footer__copyright__payment
                  img(src='img/payment-item.png', alt='')