nav.navbar.navbar-expand-lg.navbar-dark.bg-green.py-2
      .container
        // Brand Logo and Name
        a.navbar-brand.d-flex.align-items-center(href='#')
          img.rounded-circle.me-2(src='https://via.placeholder.com/40', alt='Logo')
          .brand-text
            span.fw-bold HASAKI.vn
            br
            small Ch&#x1EA5;t l&#x1B0;&#x1EE3;ng th&#x1EAD;t - Gi&aacute; tr&#x1ECB; th&#x1EAD;t!
        // Toggle button for mobile
        button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarContent', aria-controls='navbarContent', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        // Navbar content
        #navbarContent.collapse.navbar-collapse
          ul.navbar-nav.ms-auto.mb-2.mb-lg-0.align-items-center
            // Search bar with icon inside input
            li.nav-item.mx-2.search-bar.position-relative
              form.position-relative
                input#searchInput.form-control.rounded-pill(type='search', placeholder='Tìm kiếm sản phẩm...', aria-label='Search', oninput='showSuggestions()')
                i.bi.bi-search.position-absolute.search-icon
                // Suggestions Box
                #suggestionsBox.suggestions-box.d-none
                  ul
                    li
                      img(src='https://via.placeholder.com/30', alt='Deal 2K')
                      | Deal 2K &aacute;p d&#x1EE5;ng CN215 Qu&#x1EA3;ng B&igrave;nh
                    li
                      img(src='https://via.placeholder.com/30', alt='Mua Gì Cũng Rẻ')
                      | Mua G&igrave; C&utilde;ng R&#x1EBB; - D&#x1B0;&#x1EDB;i 99K
                    li
                      img(src='https://via.placeholder.com/30', alt='Mua 2 Giảm Nửa Giá')
                      | Mua 2 Gi&#x1EA3;m N&#x1EED;a Gi&aacute;
                    li
                      img(src='https://via.placeholder.com/30', alt='Giảm 200K')
                      | Gi&#x1EA3;m 200K/G&oacute;i Tri&#x1EC7;t L&ocirc;ng Diode Laser
                    li
                      img(src='https://via.placeholder.com/30', alt='Chống Nắng Da Mặt')
                      | Ch&#x1ED1;ng N&#x1EAF;ng Da M&#x1EB7;t
                    li
                      img(src='https://via.placeholder.com/30', alt='Làm Sạch Da')
                      | L&agrave;m S&#x1EA1;ch Da
            if user 
             li.nav-item.dropdown
               a#navbarDropdown.nav-link.text-white.d-flex.align-items-center(href='#', role='button', data-bs-toggle='dropdown', aria-expanded='false')
                 i.bi.bi-person
                 |  Ch&agrave;o H&agrave;o 
                 i.bi.bi-chevron-down.ms-1
               ul.dropdown-menu.dropdown-menu-end(aria-labelledby='navbarDropdown')
                 li
                   a.dropdown-item(href='#') T&agrave;i kho&#x1EA3;n c&#x1EE7;a t&ocirc;i
                 li
                   a.dropdown-item(href='#') &Dstrok;&abreve;ng xu&#x1EA5;t
            else 
             li.nav-item.dropdown
               a#navbarDropdown.nav-link.text-white.d-flex.align-items-center(href='#', role='button', data-bs-toggle='dropdown', aria-expanded='false')
                 i.bi.bi-person
                 |  Đăng ký / Đăng nhập 
                 i.bi.bi-chevron-down.ms-1
               ul.dropdown-menu.dropdown-menu-end(aria-labelledby='navbarDropdown')
                 li
                   a.dropdown-item(href='/users/register') Đăng ký 
                 li
                   a.dropdown-item(href='/users/login') Đăng nhập 
            // Store Locator
            li.nav-item.mx-2
              a.nav-link.text-white(href='#')
                i.bi.bi-shop
                |  H&#x1EC7; th&#x1ED1;ng c&#x1EED;a h&agrave;ng
            // Customer Support
            li.nav-item.mx-2
              a.nav-link.text-white(href='#')
                i.bi.bi-telephone
                |  H&#x1ED7; tr&#x1EE3; kh&aacute;ch h&agrave;ng
            // Cart with notification
            li.nav-item.mx-2
              a.nav-link.position-relative.text-white.cart-icon(href='#')
                i.fa-solid.fa-cart-shopping
                span.position-absolute.top-0.start-100.translate-middle.badge.rounded-pill.bg-danger 2