nav.navbar.navbar-expand-lg.navbar-dark.bg-green.py-2
      .container
        // Brand Logo and Name
        a.navbar-brand.d-flex.align-items-center(href='/')
          img.rounded-circle.me-2(src=(settingGeneral ? settingGeneral.logo : ""), style='width: 50px; height: 50px' , alt='Logo')
          .brand-text
            span.fw-bold #{settingGeneral ? settingGeneral.websiteName : ""} 
            br
            small Ch&#x1EA5;t l&#x1B0;&#x1EE3;ng th&#x1EAD;t - Gi&aacute; tr&#x1ECB; th&#x1EAD;t!
        // Toggle button for mobile
        button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarContent', aria-controls='navbarContent', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        // Navbar content
        #navbarContent.collapse.navbar-collapse
          ul.navbar-nav.ms-auto.mb-2.mb-lg-0.align-items-center
            // Search bar with icon inside input
            li.nav-item.mx-2.search-bar.position-relative
              form.position-relative(form-search)
                input#searchInput.form-control.rounded-pill(type='search',name='keyword' placeholder='Tìm kiếm sản phẩm...', aria-label='Search', value=keyword)
                i.bi.bi-search.position-absolute.search-icon
                // Suggestions Box
                #suggestionsBox.suggestions-box
                    
                    
            if user 
             li.nav-item.dropdown
               a#navbarDropdown.nav-link.text-white.d-flex.align-items-center(href='#', role='button', data-bs-toggle='dropdown', aria-expanded='false')
                 i.bi.bi-person
                 |  #{user.fullName}
                 i.bi.bi-chevron-down.ms-1
               ul.dropdown-menu.dropdown-menu-end(aria-labelledby='navbarDropdown')
                 li
                   a.dropdown-item(href='#') T&agrave;i kho&#x1EA3;n c&#x1EE7;a t&ocirc;i
                 li
                   a.dropdown-item(btn-logout) Đăng xuất 
            else 
             li.nav-item.dropdown
               a#navbarDropdown.nav-link.text-white.d-flex.align-items-center(href='#', role='button', data-bs-toggle='dropdown', aria-expanded='false')
                 i.bi.bi-person
                 |  Đăng ký / Đăng nhập 
                 i.bi.bi-chevron-down.ms-1
               ul.dropdown-menu.dropdown-menu-end(aria-labelledby='navbarDropdown')
                 li
                   a.dropdown-item(href='/users/register') Đăng ký 
                 li
                   a.dropdown-item(href='/users/login') Đăng nhập 
            // Store Locator
            li.nav-item.mx-2
              a.nav-link.text-white(href='/products')
                i.bi.bi-shop
                |  Danh sách sản phẩm 
            // Customer Support
            li.nav-item.mx-2
              a.nav-link.text-white(href='#')
                i.bi.bi-telephone
                |  Hỗ trợ khách hàng 
            // Cart with notification
            li.nav-item.mx-2
              a.nav-link.position-relative.text-white.cart-icon(href='#')
                i.fa-solid.fa-cart-shopping
                span.position-absolute.top-0.start-100.translate-middle.badge.rounded-pill.bg-danger 2