extends ../../layouts/default.pug 

block main 
    .inventory-form-container
      h3.inventory-form-title Create Inventory
      form(action='', method='POST')
        // Product Search Field
        .form-group.position-relative.inventory-form-group
          label(for='productSearch') Product Search
          input#productSearch.inventory-form-control(type='text', placeholder='Enter product name')
          input#productId(type='hidden', name='productId')
          #productSuggestions.inventory-form-suggestions 
        // Supplier Search Field
        .form-group.position-relative.inventory-form-group
          label(for='supplierSearch') Supplier Search
          input#supplierSearch.inventory-form-control(type='text', placeholder='Enter supplier name')
          input#supplierId(type='hidden', name='supplierId')
          #supplierSuggestions.inventory-form-suggestions
        // Quantity Field
        .form-group.inventory-form-group
          label(for='quantity') Quantity
          input#quantity.inventory-form-control(type='number', name='quantity', placeholder='Enter quantity', min='1')
        // Warehouse Field
        .form-group.inventory-form-group
          label(for='warehouse') Warehouse
          input#warehouse.inventory-form-control(type='text', name='warehouse', placeholder='Enter warehouse location')
        // Submit Button
        button.inventory-form-btn(type='submit') Create Inventory
    script(src="/admin/js/inventory.js") 